name: Test Pull Request

on:
  pull_request:
    types: [labeled, opened, edited, reopened, synchronize]
  check_run:
    types: [completed]
  check_suite:
    types: [completed]
  pull_request_review:
    types: [submitted, edited]
  workflow_dispatch:

concurrency:
  group: ${{ github.event.pull_request.number || github.sha || github.ref }}
  cancel-in-progress: true

jobs:
  test_in_pull_request:
    name: Test in Pull Request
    if: ${{ startsWith(github.head_ref, 'workflows/tests/head') }}
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - name: Sanity check
        if: ${{ !startsWith(github.base_ref, 'workflows/tests/base') }}
        run: exit 1

      - uses: actions/checkout@v3

      - uses: ./
        with:
          merge-method: squash
