name: Test Pull Request

on:
  pull_request:
    types: [labeled, opened, edited, reopened, synchronize]
  check_run:
  pull_request_review:
  workflow_dispatch:

jobs:
  test_in_pull_request:
    name: Test in Pull Request
    if: ${{ startsWith(github.head_ref, 'workflows/tests/') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: ./
